*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


body{
    background-color: #efefef;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.container{
    background-color: white;
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    overflow: hidden;
}

.input-section{
    width: 50%;
    /* background-color: lightblue; */
    padding: 20px;
}
.list-section{
    width: 50%;
    /* background-color: rgb(202, 173, 230); */
    padding: 20px;
    overflow-y: scroll;
}
.divider{
    background-color: black;
    height: 90%;
    width: 1px;
    position: relative;
    top: 5%;
}

.time-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    margin-bottom: 20px;
}

input, select{
    width: calc(100%);
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#add-task-block{
    display: none;
}
.add-task-block{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.add-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-btn:hover{
    background-color: #2c7730;
}


.task-list{
    list-style: none;
    /* background-color: #78e67b; */
}
.task-list li div{
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-list h2{
    margin: 0;
    /* background-color: #2c7730; */
}
.task-list p{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 112, 112);
}
.task-list span{
    margin-top: 10px;
}




























